@import url(style.css);

/*** JUMBOTRON ***/

.jumbotron-section{
    display: flex;
    padding: 60px;
}

.jumbotron-section img{
    width: 30%;
    height: 30%;
}

.jumbotron-section-text{
    margin: auto;
    padding-left: 40px;
}

.jumbotron-section-text h3{
    font-weight: 500;
    font-size: 50px;
    line-height: 68px;
}

.jumbotron-section-text h4{
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

@media screen and (max-width: 700px){
    
    .jumbotron-section{
        display: block;
        padding: 30px;
    }
    
    .jumbotron-section img{
        width: 70%;
        height: 70%;
    }

    .jumbotron-section-text{
        margin: auto;
        padding: 40px 0px;
    }

    .jumbotron-section-text h3{
        font-weight: 500;
        font-size: 35px;
        line-height: 48px;
    }
}